
<div id="googleMapHolder" style="width:340px;height:150px;overflow-y: no-display" align="center" >
    <fieldset style="width:300px;height:150px;;margin-left: none">
    <legend style="background:white;font-size:12px">Insert Appointment Slot</legend>
   
          <form method="post" action="{$_subdomain}/Diary/insertSlot">
        <table >
      
            {for $i=0 to $sTypes|@count-1}
                {if $sTypes[$i].Description!="ANY"}<tr><td style="background:none;text-align: right" >{$sTypes[$i].Description}</td> <td style="background:none"><input type="radio" name="slotInsert" value="{$sTypes[$i].AppointmentAllocationSlotID}"></td></tr>{/if}
            {/for}
        
       <tr><td colspan=2  style="background:none;text-align:left;margin-top:20px" align=center> 
               <button style="width:200px" class="gplus-blue" type="Submit">Create appointment slot</button>
           <button type="button"  class="gplus-blue" onclick="$.colorbox.close()">Cancel</button></td></tr>
        
    </table>
            </form>
 
            
  </fieldset>
            
    </div>

<!--        end job  details field set    -->
     
 
         