/* Update Job Details
-------------------------------------------------------------- */
@fieldLabelWidth = 105px;
@fieldValueWidth = 140px;
@datepickerWidth = 100px;
@fieldDropdownWidth = @fieldValueWidth + 2;

.ui-datepicker-trigger {
    width: 22px;
    vertical-align: -5px;
    }

#jobdetails {

    form {
        p { margin: 0; padding: 0; }
        .error-highlight { border-color: @dark-red; }
        .error{ height: auto; padding: 5px; }
        label { width: @fieldLabelWidth; text-align: right; font-weight:bold; font-size: 1.0em; vertical-align: top; float: left; }
        .fieldValue { width: @fieldValueWidth; height: 18px; padding: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: left; .clearfix  }
        .fieldInput { 
            display:none;
            width: @fieldValueWidth;
            input, textarea, select { font-size: 1.0em; padding: 3px; }
            input { width: 125px; } 
            textarea { width: 125px; height: 34px; }          
            select { width: 140px; padding: 2px 3px 2px 3px; }
        }    
        .memoValue { width: 100%; }
        .memoInput { 
            display:none;
            width: 100%;
            padding: 0;
            textarea { width: 95%; height: auto; min-height: 160px; }
        }
        .ui-combobox { padding: 0; }
        .ui-combobox-input { font-size: 1.0em; color: #606060; }
        .ui-combobox-toggle {
            top: 5px;
            right: 3px;
        }
    }

    .inline-edit, .inline-cancel, .inline-save { margin-left: 5px; margin-right: 5px;}
    .inline-cancel, .inline-save { text-decoration: underline; }

    #PurchaseDate_1, #PurchaseDate { width:@datepickerWidth; margin-right: 3px;}

    #InvoiceCosts { 
        #discount-type { .hide; text-align:right; }
        #DiscountAllowedRate { width: 20px; padding: 0;}
        #Carriage, #VAT, #DepositPaid, #DiscountAllowed { 
            margin-bottom: 5px; 
            .fieldValue, .fieldInput { border-bottom: solid 1px @blue; }
        }
        .fieldValue { width: 80px; text-align: right; display: inline-block; }
        .fieldInput { width: 80px; 
                      input { width: 80px; text-align: right; }
                      select { width: 80px; text-align: left; }
        } 
        label { width: 140px; }
    }

    #EQ1, #EQ2 {
        margin-top: 20px;
        margin-bottom:20px;
    }

    #EQ3, #EQ4, #EQ5 { margin-top:5px; }

    .head {
        .icon_c, .icon_e { 
            width: 18px; 
            height: 18px;
            margin: 0 6px 0 0;
            float: right;
            background: url(Skins/@{theme}/images/accordion_icons.png) no-repeat 0px top;
        }
        .border-radius(2px);
        
        .icon_e { background-position: -16px top; }
        //background: url("Skins/@{theme}/images/header.png") no-repeat; 
        background-color: @accent-1;
        color:@white; 
        font-weight:bold;
        cursor: pointer; 
        padding: 8px 0 8px 6px;
    }

    #CustomerDetails, #ServiceCentre {
        p.address, p.contact-info { font-size: 15px; }
        span span { padding: 0 5px;  }
        div { font-size: 13px; }
        .label {
            float: left;
            padding-top: 9px;
            
            font-weight: bold; }        
        input { font-size:13px; }
        .clear {
            .email { width: 135px; }
            input { width: 120px; }
        }
    }
    
    input.textSubmitButton {
        font-size: 1.2em; 
        color: @text; margin: 3px;
        background-color: transparent;
        text-decoration: underline;
        border: none !important;
        cursor: pointer;
        background: transparent;
        .remove-box-shadow();
    } 

    .spacer { clear: both; height: 45px; }
}


/* View Service Centre
-------------------------------------------------------------- */
#ViewServiceCentre #PrincipleContacts p { margin :0; }

/* Edit Customer Details
-------------------------------------------------------------- */
#EditCustomerDetails {
    label { .span(5); margin-right: 15px; width:150px; }
    p {  margin: 0; padding-right: 40px; }
    label.fieldError { margin-left: 209px; width: 380px; }
    input.text { width: 385px; }
    select { width: 397px; }
    label.fieldError { .span(10); margin-left:170px; }
    .blueText { color:@blue; }
    .jobBookingValueInner {.last; text-align:left; font-size: 1.1em; margin: 0px 0 3px 2px; padding-left:170px;}
   
    .dateField { width:132px; }
    .phoneField { width:222px !important }
    .extField {  width:153px !important }
   
}

/* AddAppointments
-------------------------------------------------------------- */
#createAppointments {
    #AppointmentDate select, #AppointmentTime select { width: 150px; }  
}
